/* General styling for larger screens */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px; /* Reduced padding for a smaller height */
    background: linear-gradient(120deg, white 30%, #00CC99 30%); /* Adjusted slanted gradient background */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 100;
}

.header-logo img {
    height: 52px; /* Reduced the logo height */
    width: 152px;
}

.header-nav ul {
    list-style: none;
    display: flex;
    gap: 25px; /* Reduced gap between navigation items */
}

.header-nav a {
    text-decoration: none;
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    transition: color 0.3s ease;
    padding-bottom: 5px; /* Space for underline */
}

.header-nav a:hover {
    color: white; /* Lab4GPS Green */
}

.header-nav .active {
    color: white; /* Ensuring the text remains white */
    border-bottom: 2px solid white; /* White underline for the active page */
}

/* Responsive styling for smaller screens */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 5px 15px; /* Further reduced padding for small screens */
        background: linear-gradient(120deg, white 25%, #141e3f 25%); /* Keep the adjusted slanted gradient */
    }

    .header-nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .header-logo img {
        height: 40px; /* Further reduced the logo height for smaller screens */
    }
}
